/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* .MainBox{
    text-align: center;
}
.MainBox h1{
    height:25vmin;
    font-size: (40px + 8vmin);
    color: black;
}
.listBox{
    background-color: red;
} */
